.button {
  width: 255px;
  height: 3.2rem;
  background: #9dd458;
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  transition: 0.2s;


  &:hover {
    box-shadow: 0 5px 5px #e1dada;
  }

  img {
    color: white;
    transform: rotate(180deg);
    opacity: 0.9;

  &:hover {
    opacity: 1;
  };

  }

  span {
    opacity: 0.9;
    padding-left: 8%;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 19px;
    transition: ease-in-out 0.15s;


    &:hover {
      opacity: 1;
    }
  }
}