.card {
  box-sizing: border-box;
  border: 1px solid #f8f8f8;
  padding: 2%;
  width: 23%;
  border-radius: 20px;
  transition:
    box-shadow 0.2s ease-in-out;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;

  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    transform: translateY(-1px);
  }

  img {
    width: 100%;
  }

  .favorite {
    position: absolute;
    cursor: pointer;
    border-radius: 8px;
    width: 30px;
    height: 30px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  button {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.12s;

    &:hover{
      border: 2px solid #e8e5e5;
    }
  }

  .plus{
    width: 32px;
    height: 32px;
  }


  span {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 13px;
  }

  b {
    font-size: 14px;
  }

  .card:nth-child(4n + 4) {
    margin-right: 0;
  }
}

@media  screen  and (min-width: 340px) and (max-width: 480px) {

}

@media  screen  and (min-width: 340px) and (max-width: 480px) {

}