.card {
  box-sizing: border-box;
  border: 1px solid #f8f8f8;
  padding: 2%;
  width: 23%;
  border-radius: 20px;
  transition:
    box-shadow 0.2s ease-in-out;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 1%;

  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.07);
    cursor: pointer;
    transform: translateY(-1px);
  }

  img {
    width: 100%;
  }

  .favorite {
    position: absolute;
    cursor: pointer;
    width: 32px;
    height: 32px;

    .favorite__added {
      width: inherit;
      height: inherit;
    }

    .favorite__removed{
      width: 20px;
      height: 20px;
    }
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
  }

  button {
    background-color: #ffffff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.12s;
    width: 32px;
    height: 32px;

    &:hover{
      border: 2px solid #e8e5e5;
    }


    .plus__added {
      width: 32px;
      height: 32px;
    }

    .plus__removed {
      width: 13px;
      height: 13px;
    }

  }


  span {
    text-transform: uppercase;
    opacity: 0.5;
    font-size: 13px;
  }

  b {
    font-size: 14px;
  }

  .card:last-child {
    justify-self: flex-start;
  }
}


@media  screen  and (min-width: 340px) and (max-width: 480px) {

  .card {
   width: 100%;
   display: block;
   padding: 8%;
   margin: 6% 0 0 0;
   box-shadow: 0 3px 5px #ece3e3;;

  .favorite {
    width: 42px;
    height: 42px;

    .favorite__added {
      width: inherit;
      height: inherit;
    }

    .favorite__removed{
      width: 26px;
      height: 26px;
    }
  }

  button {
    width: 42px;
    height: 42px;
    .plus__added {

      width: inherit;
      height: inherit;
    }

    .plus__removed {
      width: 17px;
      height: 17px;
    }
  }
 }
}

@media  screen  and (min-width: 481px) and (max-width: 768px) {
  .card {
    box-sizing: border-box;
    width: 44%;
    padding: 4%;
    margin-top: 5%;
    box-shadow: 0 3px 5px #ece3e3;;

    button {
      width: 36px;
      height: 36px;

      .plus__added {

        width: inherit;
        height: inherit;
      }

      .plus__removed {
        width: 15px;
        height: 15px;
      }
    }

    .favorite {
      width: 36px;
      height: 36px;
      .favorite__added {
        width: inherit;
        height: inherit;
      }

      .favorite__removed{
        width: 20px;
        height: 20px;
      }
    }


  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 30%;
    padding: 2%;
    margin: 1%
  }
}
