.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 10px;
  align-items: center;
  .logo {
    margin: auto;
    transition: 0.15s;
  }


  .navbar {
    display: flex;
    span{
      margin-left: 1rem;
      font-size: 1.2rem;
      opacity: 0.7;
      cursor: pointer;

      &:hover{
        opacity: 0.9;
      }
    }
    img {
      opacity: 0.8;
      transition: 0.15s;

      &:hover {
        opacity: 1;
      }
    }
  }
}


