.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

h2 {
  margin-left: 0;
}

label {
  display: flex;
  height: 32px;

  border: none;

  input {
    font-size: 16px;
    border: none;
  }

  .imgSearch {
    width: 16px;
    margin-right: 8px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.13s;
  }
  .imgSearch:hover {
    opacity: 1;
  }

  .buttonClose {
    width: 25px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.15s;
  }
  .buttonClose:hover {
    opacity: 1;
  }

}
@media  screen  and (min-width: 340px) and (max-width: 480px) {

  .search {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;
  }

  h2 {
  font-size: 18px;

  }
  label{
    border-radius: 20px;
    height: 40px;
    padding: 7px;
    width: 100%;
    box-shadow: 0 5px 10px #ece3e3;
    input {
    width: 100%;
    }
  }
}

@media  screen  and (min-width: 481px) and (max-width: 768px) {

  .search {
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    align-items: center;

  }

  h2 {
    font-size: 18px;

  }
  label{
    border-radius: 20px;
    height: 40px;
    padding: 7px;
    width: 100%;
    box-shadow: 0 5px 10px #ece3e3;

    input {
      width: 100%;

    }
  }
}
