.search {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

h2 {
  margin-left: 0;
}

label {
  display: flex;
  height: 32px;

  border: none;

  input {
    font-size: 16px;
    border: none;
  }

  .imgSearch {
    width: 16px;
    margin-right: 8px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.13s;
  }
  .imgSearch:hover {
    opacity: 1;
  }

  .buttonClose {
    width: 25px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.15s;
  }
  .buttonClose:hover {
    opacity: 1;
  }
}
